In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

In [4]:
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [5]:
df.shape

(1338, 4)

In [7]:
# value count for categorical value data 
print(df.age.value_counts(),'\n', df.bmi.value_counts(),'\n', df.children.value_counts(),'\n')

18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: age, dtype: int64
 32.300    13
28.310     9
30.495     8
30.875     8
31.350     8
          ..
46.200     1
23.800     1
44.770     1
32.120     1
30.970     1
Name: bmi, Length: 548, dtype: int64
 0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

## Data Pre-processing (Splitting)

In [8]:
x = df.drop('charges', axis = 1)
y = df.charges

In [9]:
x

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
...   ...     ...       ...
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((1070, 3), (1070,), (268, 3), (268,))

In [14]:
x_test

      age     bmi  children
764    45  25.175         2
887    36  30.020         0
890    64  26.885         0
1293   46  25.745         3
259    19  31.920         0
...   ...     ...       ...
109    63  35.090         0
575    58  27.170         0
535    38  28.025         1
543    54  47.410         0
846    51  34.200         1

[268 rows x 3 columns]

 # Model Building & Evaluation

In [15]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression() 

reg.fit(x_train,y_train)

LinearRegression()

In [16]:
reg.coef_

array([220.75776541, 332.20247584, 563.01943242])

In [17]:
reg.intercept_

-6118.046178106704

In [20]:
y_pred = reg.predict(x_test)

In [22]:
y_pred

array([13305.28945949, 11801.95170145, 16941.71437111, 14278.42206855,
        8680.25439362, 16202.22349193,  5555.8901083 , 20602.58565492,
        5806.95206068, 15919.03165614, 10299.48549201, 14221.13480456,
       10676.8197114 , 19794.64417995, 20721.14505796, 18319.57207031,
       20003.52486079, 16989.16491869, 13918.10991054, 12305.80129754,
       10155.63429188, 15330.37731182,  8175.30663033, 11961.94421188,
       15950.43401031, 16659.25006455, 18787.72664854, 11630.42705085,
       14220.19351839,  7868.1762212 , 14697.87471015, 17037.49024392,
       10101.76722818,  8821.1844745 , 10150.74943027, 17039.37281627,
        7851.03169019, 13870.41119463, 13940.42279767, 14085.77995875,
       10392.4393359 ,  9716.19171103, 18700.25675242, 15364.53701599,
       14169.23745665, 16605.24949913, 10815.87502296,  9162.47641738,
       17012.91908784, 14604.73646207, 19848.64291578,  8175.39974722,
       17035.11042013,  6534.38328069, 17682.11992809, 16712.90245652,
        8962.56181915, 13838.94599111, 17681.80616603, 16627.84771037,
       18353.73177448, 15955.29640741, 21029.74518705, 12579.89769286,
       15618.10906483,  9241.86189678,  9307.54825435, 15820.56128268,
        7443.45613316, 11860.62245675, 15141.87006988, 15892.9898653 ,
       15550.6350814 , 14360.97360647, 16801.94116293, 11768.73145387,
       12356.28946057, 14765.38219017, 12151.89182104, 14042.71519173,
        9369.41764997, 16437.08036988, 11971.87495997, 12267.28608035,
       16768.85027321, 15492.18588607, 12681.37724382, 16911.56706516,
       14694.20957058, 19429.7843017 , 21350.22745935, 15647.78572769,
       13499.37790994, 11035.22085911, 13606.21802424, 14755.98079067,
       11119.83937357,  9259.79083294, 10051.9946475 , 10529.64557172,
       10503.91754293,  7677.00291657, 16307.49388114, 19925.95636001,
       15206.4270779 , 10112.1401814 , 14916.62834837, 12525.14713369,
        4987.98075563, 13745.92746828,  9072.25331511, 15642.05635599,
       18010.62285298, 12554.64030716, 15487.29596582,  9822.81026536,
       16626.74954317, 13370.38270434, 13407.86626285,  8611.46159782,
       12996.46960003, 15420.38574236, 19237.32751088, 11092.92097549,
        9110.57815468, 15041.6749199 , 15777.25340597, 15171.70361377,
       18600.18913072, 12881.98818894, 10556.81994115, 14698.72287943,
       14647.29525981, 16534.42505298, 13387.74788052, 19794.39326724,
       12875.43634152, 13119.85424438, 16534.58193401, 12275.1833485 ,
       10760.49693968, 16407.24682599, 11388.26741693, 18953.29439403,
        7951.78968535, 14329.50657336, 11413.61791952, 10392.53659663,
       18916.84523858, 12303.67055687, 19516.15694542,  8300.91604704,
       11522.4034555 , 12681.19101004, 16309.56177247, 12906.83869569,
       18235.95677658, 14577.37494406,  9075.57533987, 14163.22001645,
       18384.28687417,  7191.92353769, 17640.87305448,  7101.66510924,
       11511.46168366, 16631.10688579, 20313.72638196, 16816.57559749,
       14572.86255001,  9466.6329752 , 12338.01649481, 13851.10657019,
       16661.60327998,  9904.135193  ,  7741.31175627, 13261.85313972,
        7278.35994555, 21458.00703022,  7973.81816318, 14165.59984025,
       17004.98972255,  4666.87095921, 11321.79068078, 13145.96071416,
        9452.52605963, 10257.43174874, 10693.42983519,  9706.69536504,
       19876.00443379, 15207.36836408, 12973.15257738,  7544.27880726,
        6439.07805096, 13910.43328755, 20468.35741426, 16468.70428402,
        6781.65348002, 16522.91952117,  6597.5017511 , 13424.22547393,
        7006.51676054, 14450.41736224, 16320.71913083,  8259.89073339,
        7776.44301415,  8064.42476508, 13693.30947937,  7496.95164411,
       17816.25596666,  6873.72888709, 14678.06826028, 14994.38125334,
       21131.82290937,  8611.05471887, 12133.3991249 ,  9783.10193449,
       11121.34350492, 17840.91518099, 15276.34647886, 13536.14174225,
       10384.13933264, 16723.93734524, 19196.43064031, 17144.20282994,
        9405.64616025, 10587.34568809,  4919.72236705,  8238.42510074,
       15679.65963975, 20727.59872985, 10759.52813035, 11136.85454671,
        9582.14878935, 12609.76656293, 11452.29001774, 16940.74556178,
       11004.44602905, 14481.88439535, 17690.83278373,  9957.10227015,
       13218.352141  , 13203.15577606, 10856.90033661, 10124.1732322 ,
        6439.54869404,  9941.52563463, 10324.77820389, 11973.59973649,
       23706.92053096,  3883.25064242,  8130.30241507, 16128.0701328 ,
        8633.99513012, 13850.00748819,  9211.71459083, 10670.803186  ,
       16728.0712983 , 11451.3221232 , 12178.62307054, 12545.01734769,
       13932.21176746, 14354.32772736,  9526.11565879, 19446.67792001,
       15711.84548427, 12143.74272538, 21552.59253374, 17064.94396402])

In [21]:
y_test

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
           ...
109     47055.53210
575     12222.89830
535      6067.12675
543     63770.42801
846      9872.70100
Name: charges, Length: 268, dtype: float64

In [23]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE: 9181.311632897383
MSE: 131201335.64669806
RMSE: 11454.315153980095

In [24]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.15489592484270753

In [25]:
import pickle 
pickle.dump(reg,open('model1.pkl','wb'))